
:root {
  --color-background: rgb(228, 237, 247);
  --color-secondary-background: aliceblue;
  --color-accent: #808edd;
  --color-secondary-accent: #e0e6ff;
  --margin: 15px;
  --color-placeholder: #878a8b;
}


::-webkit-scrollbar {
  width: 4px; 
  background-color: transparent; 
}

::-webkit-scrollbar-thumb {
  width: 5px; 
  background-color: var(--color-placeholder);
  border-radius: 4px;
}